@import "../../fonts/Metropolis/stylesheet.css";

:root{

    /* Colores */
    --clr-primary: #452372;
    --clr-btn-primary: #9D8FAD;
    --clr-btn-primary-hover: #FFFFFF;
    --clr-btn-secondary: #6D22D0;
    --clr-btn-secondary-hover: #6821c6;
    --clr-btn-secondary-active: #7d37d8;

    /* Border radius */

    --radius: 0.2rem;

    /* Font Size */

    font-size: 16px;

    /* Ellipse width */
    --ellipse-width: 3rem;

    /* Svg */

    --btn-add-icon: url(../../imgs/journal/btn-add.svg);

}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{

    /* Font family */
    font-family: "Metropolis", sans-serif;

}

.content-wrapper{
    display: grid;
    grid-template-columns: 120px auto;
}

.main-welcome{
    margin-top: 3rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.next-consultation{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
    margin-top: 3rem;
}

.btn-spontaneous{
    appearance: none;
    position: relative;
    font-family: "Metropolis", sans-serif;
    font-size: 0.8rem;
    background: var(--clr-btn-secondary);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.9rem;
    padding-left: 2.8rem;
    margin-left: auto;
    margin-right: 3rem;
    cursor: pointer;
    transition: all 150ms ease;
}

.btn-spontaneous:hover{
    transform: scale(0.98);
    background: var(--clr-btn-secondary-hover);
}

.btn-spontaneous:active{
    transform: scale(0.96);
    background: var(--clr-btn-secondary-active);
}

.btn-spontaneous::before{
    position: absolute;
    content: var(--btn-add-icon);
    top: 0.4rem;
    left: 0.8rem;
}

/* *********** Navbar ************ */

.nav__list{
    background: var(--clr-primary);
    box-shadow: 0px 0px 10px #7b7b7b;
    padding: 1rem 0;
    width: 6rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    z-index: 99;
}

.nav__item__logo{
    list-style: none;
    position: relative;
    margin-bottom: 1.5rem;
    transition: all 150ms ease;
}

.logo-item:hover{
    transition: all 150ms ease;
    transform: scale(1.05);
}

.nav__item{
    list-style: none;
    position: relative;
    z-index: 99;
}

.nav__item::before{
    content: attr(data-tooltip);
    position: absolute;
    left: calc(50% + 3rem);
    top: -0.25rem;
    background: var(--clr-primary);
    color: white;
    padding: 0.8rem;
    border-radius: var(--radius);
    transition: all 150ms ease;
    opacity: 0;
    scale: 0;
    
}

.nav__item::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 2px;
    background-color: transparent;
    left: calc(50% + 5.5rem);
    top: 0.6rem;
    transition: all 150ms ease;
    transform: rotate(45deg);
    opacity: 0;
    scale: 0;
}

.nav__item:hover::after{
    opacity: 1;
    scale: 1;
    left: calc(50% + 3.8rem);
    background-color: var(--clr-primary);
}

.nav__item:hover::before{
    opacity: 1;
    scale: 1;
    left: calc(50% + 4.2rem);
}

.nav__item:hover img{
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(2%) hue-rotate(359deg) brightness(111%) contrast(101%);
}

.nav__item img{
    transition: all 500ms ease;
}

.btn-ellipse{
    position: relative;
}

.btn-ellipse::before{
    content: "";
    
    width: var(--ellipse-width);
    height: 3rem;
    background: white;
    position: absolute;
    border-radius: 50%;
    left: calc(50% - var(--ellipse-width)/2);
    top: calc(50% - 2.6rem);
    z-index: -1;
    opacity: 0;
    transition: all 200ms ease-in;
}

.nav__item a:focus > .btn-ellipse::before{
    opacity: 1;
}

.nav__item a:focus > img{
    filter: brightness(0) saturate(100%) invert(16%) sepia(73%) saturate(1372%) hue-rotate(242deg) brightness(93%) contrast(101%);
}


/* .filter-clr{
    filter: brightness(0) saturate(100%) invert(61%) sepia(6%) saturate(1037%) hue-rotate(226deg) brightness(96%) contrast(90%);
} */

